
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>
<body>
    <div>
        <div id="s">
            <select class="form-control" id="sel">
                <option value="0">全部</option>
            </select>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        $(function () {
            jQuery.ajax({
                url: "/Main/DeopDowm",
                //data: { Account: $("#name").val(), password: $("#pwd").val() },
                dataType: "json",
                type: "post",
                success: function (res) {
                    if (res != null) {
                        console.log(res)
                        for (var i = 0; i < res.length; i++) {
                            $("#sel").append("<option value=" + res[i].ID + ">" + res[i].SecondName + "</option>")
                        }

                    }
                }
            });
            $("#sel").change(function () {
                var ApiUrl = "https://localhost:44318/";
                $.ajax({
                    url:ApiUrl +"api/values/Type/"+$(this).val(),
                    dataType: "json",
                    type: "get",
                    success: function (res) {
                        console.log(res)
                    }
                });
            })
        })
    </script>
</body>
</html>
